*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1 {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  max-width: 600px;
  padding: 200px 0;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.feed > *:not(:last-child) {
  margin-bottom: 100px;
}

.post {
  width: 100%;
}

.post__img {
  width: 100%;
}

.post__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

@media (width <= 600px) {
  .post__header {
    padding: 0 10px;
  }
}

.post__avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
